body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    height: 70px;
    border-bottom: solid 1px grey;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#marca {
    position: relative;
    left: 40px;
    display: flex;
}

#titulo {
    font-size: 1.48em;
    position: relative;
    bottom: -5px;
    color: #004AAD;
}

#caminhao {
    position: relative;
    bottom: -7px;
}

.navbar {
    margin: auto;
    background-color: #ffffff00;
    padding: 10px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: #004AAD;
    font-weight: bolder;
    font-size: 1.5em;
}
.navbar-link:hover {
    text-decoration: underline;
    color: #076df1;
    transition: 0.3s;
}

#entrar, #cadastrar {
    cursor: pointer;
    position: relative;
    bottom: -16px;
    width: 150px;
    height: 36px;
    border-radius: 16px
}
#entrar {
    margin: 0px 10px 28px 0px;
    background-color: white;
    border: solid 1px #1A9047;
}

#entrar:hover {
    background-color: #1A9047;
    transition: 1s;
    color: white;
}

#cadastrar {
    color: white;
    background-color: #1A9047;
    margin: 0px 20px 28px 10px;
    border: none;
}

#cadastrar:hover {
    cursor: pointer;
    border: solid 1px #1A9047;
    color: black;
    background-color: #fff;
    transition: 1s;
}

#principal {
    cursor: pointer;
    margin-top: 100px;
    position: relative;
    color: #2BC866;
    font-size: 3.8em;
}

#main {
    padding-top: 20px;
    text-align: center;
}

#barras {
    width: 700px;
    margin: auto;
    display: flex;
}

#barra {
    border-radius: 5px;
    margin-right: 5px;
    width: 540px;
    height: 40px;
    border: solid 1px #e6e8ee;
}

#botao {
    display: flex;
    background-color: #697882;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    width: 130px;
    height: 45px;
}

#botao:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: 0.3s;
    box-shadow: 3px 3px 3px #929292;
}

#botao:active {
    transform: translateY(0px);
    transition: 0.3s;
    box-shadow: none;
}

#icone {
    margin: 0px 5px 0px 18px;
    position: relative;
    bottom: -10px;
    width: 20px;
    height: 20px;
}

h2 {
    color: #fff;
    font-size: 14px;
}

footer {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}