body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    height: 70px;
    border-bottom: solid 1px grey;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#titulo {
    font-size: 1.48em;
    position: relative;
    bottom: -5px;
    color: #004AAD;
}

#caminhao {
    position: relative;
    bottom: -7px;
}

.navbar {
    margin: auto;
    background-color: #ffffff00;
    padding: 10px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: #004AAD;
    font-weight: bolder;
    font-size: 1.5em;
}
.navbar-link:hover {
    text-decoration: underline;
    color: #076df1;
    transition: 0.3s;
}

#marca {
    position: relative;
    left: 40px;
    display: flex;
}

#entrar, #cadastrar {
    cursor: pointer;
    position: relative;
    bottom: -16px;
    width: 150px;
    height: 36px;
    border-radius: 16px
}
#entrar {
    margin: 0px 10px 28px 0px;
    background-color: white;
    border: solid 1px #1A9047;
}

#entrar:hover {
    background-color: #1A9047;
    transition: 1s;
    color: white;
}

#cadastrar {
    color: white;
    background-color: #1A9047;
    margin: 0px 20px 28px 10px;
    border: none;
}

#cadastrar:hover {
    border: solid 1px #1A9047;
    color: black;
    background-color: #fff;
    transition: 1s;
}

main {
    height: 100%;
    padding: 58px 0px 58px 0px;
}

aside {
    width: 100%;
    height: 680px;
    background-color: #2BC866;
    margin: 90px 0px 90px 0px;
}

#parcerias {
    background-color: #fff;
    width: 700px;
    height: 50px;
}
article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#parcerias {
    margin-top: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

#principal {
    font-size: 3em;
    color: white;
}

.paragrafos {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0px 0px 15px 0px;
    color: rgb(245, 245, 245);
}